In [34]:
import pandas as pd

# import data frame
df = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')

In [35]:
df.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [36]:
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [37]:
# printing first 10 recordsr
first_records = df.head(10)
print("First 10 rows of the DataFrame:")
print(first_records)

First 10 rows of the DataFrame:
                                 Film      Genre            Lead Studio  \
0          Zack and Miri Make a Porno    Romance  The Weinstein Company
1                     Youth in Revolt     Comedy  The Weinstein Company
2  You Will Meet a Tall Dark Stranger     Comedy            Independent
3                        When in Rome     Comedy                 Disney
4               What Happens in Vegas     Comedy                    Fox
5                 Water For Elephants      Drama       20th Century Fox
6                              WALL-E  Animation                 Disney
7                            Waitress    Romance            Independent
8                 Waiting For Forever    Romance            Independent
9                     Valentine's Day     Comedy           Warner Bros.

   Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                70       1.747542                 64         $41.94   2008
1                52       1.090000                 68         $19.62   2010
2                35       1.211818                 43         $26.66   2010
3                44       0.000000                 15         $43.04   2010
4                72       6.267647                 28        $219.37   2008
5                72       3.081421                 60        $117.09   2011
6                89       2.896019                 96        $521.28   2008
7                67      11.089741                 89         $22.18   2007
8                53       0.005000                  6          $0.03   2011
9                54       4.184038                 17        $217.57   2010

In [38]:
# find the data types of the coloumn

Movies_datatypes = df.dtypes
print('Data types of the columns in the dataset')
print(Movies_datatypes)

Data types of the columns in the dataset
Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [39]:
# Animation movies - Count
Ani_movies = df[df['Genre'] == 'Animation']['Film']
print('total No.of Animation Movies are ', Ani_movies.count())
print(Ani_movies)

total No.of Animation Movies are  4
6                WALL-E
22              Tangled
64    Gnomeo and Juliet
65    Gnomeo and Juliet
Name: Film, dtype: object

In [40]:
df['Genre']

0     Romance
1      Comedy
2      Comedy
3      Comedy
4      Comedy
       ...
72    romance
73      Drama
74      Drama
75     Comedy
76     comedy
Name: Genre, Length: 77, dtype: object

In [41]:
df['Genre'].replace(['Comdy','comedy','Romence','romance'],['Comedy','Comedy','Romance','Romance'],inplace = True)

In [42]:
((df[df['Genre'] == 'Comedy']['Film'].count()) / (df['Film'].count()))*100

55.84415584415584

In [43]:
# comedy movies released on 2007
comedy_movies = df[(df['Year'] == 2007) & (df['Genre'] == 'Comedy')]
print(comedy_movies)

                  Film   Genre   Lead Studio  Audience score %  Profitability  \
18  The Heartbreak Kid  Comedy     Paramount                41       2.129444
36     No Reservations  Comedy  Warner Bros.                64       3.307180
51      License to Wed  Comedy  Warner Bros.                55       1.980206
54          Knocked Up  Comedy     Universal                83       6.636402
62     Good Luck Chuck  Comedy     Lionsgate                61       2.367685
69           Enchanted  Comedy        Disney                80       4.005737

    Rotten Tomatoes % Worldwide Gross  Year
18                 30        $127.77   2007
36                 39         $92.60   2007
51                  8         $69.31   2007
54                 91           $219   2007
62                  3         $59.19   2007
69                 93        $340.49   2007

In [44]:

# Animation movies have more thatn 70% Audience score
AniMov_70 = df.loc[(df['Genre'] == 'Animation') & (df['Audience score %'] >70)]['Film']
print(AniMov_70)
print('No.of Animation movies scored more than 70 = ' ,  AniMov_70.count())

6      WALL-E
22    Tangled
Name: Film, dtype: object
No.of Animation movies scored more than 70 =  2

In [45]:
# Top 5  profitability movies
df.sort_values(by = 'Profitability', ascending = False ).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008

In [52]:
# Show the top 5 Comedy movies approved by the audience. (hint : Audience Score)
Top_5 = df.loc[(df['Genre'] == 'Comedy') & (df['Audience score %'] >70)]
Top_5.sort_values(by=['Audience score %'],ascending=False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
76,(500) Days of Summer,Comedy,Fox,81,8.096000,87,$60.72,2009
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011

In [53]:
world_gross_string = df["Worldwide Gross"].str.replace('$', '')

world_gross_number = pd.to_numeric(world_gross_string)
world_gross_number
df["Worldwide Gross"] = world_gross_number

In [55]:
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,Romance,Independent,84,0.652603,54,29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,160.31,2008
76,(500) Days of Summer,Comedy,Fox,81,8.096000,87,60.72,2009

In [56]:
df[(df["Audience score %"] > 70) & (df["Worldwide Gross"] > 350)& (df["Genre"] == "Animation")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,355.01,2010

In [67]:
#Top 3 high gross Romance movies produced by Disney after 2008

High_gross = df[(df["Genre"] == "Animation") & (df["Lead Studio"] == "Disney") & (df["Year"] > 2008)]
High_gross.sort_values(by=["Worldwide Gross"]).tail(1)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
22,Tangled,Animation,Disney,88,1.365692,89,355.01,2010

In [66]:
# How many Lead Studios are present in the dataframe ?
Lead_studios = df['Lead Studio'].value_counts()
print('Lead Studios are ',Lead_studios)
print('Number of Lead Studios are ', Lead_studios.count())

Lead Studios are  Independent              19
Warner Bros.             14
Universal                 8
Disney                    8
Fox                       6
Summit                    5
Paramount                 4
Sony                      4
The Weinstein Company     3
20th Century Fox          2
Lionsgate                 2
CBS                       1
New Line                  1
Name: Lead Studio, dtype: int64
Number of Lead Studios are  13

In [74]:
# Top 5 profitable movies produced by Disney after 2008 (measured by Profitability index)
 
Disney_top = df[(df["Lead Studio"] == "Disney") & (df["Year"] > 2008)]
Disney_top.sort_values(by = ['Profitability'],ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
16,The Proposal,Comedy,Disney,74,7.867500,43,314.70,2009
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,193.97,2011
22,Tangled,Animation,Disney,88,1.365692,89,355.01,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010

In [76]:
# Most & Least Frequent lead studio in the dataset in terms of occurances.
df ['Lead Studio'].max()

'Warner Bros.'

In [77]:
#Least Frequent lead studio in the dataset in terms of occurances.
df['Lead Studio'].min()

'20th Century Fox'

In [108]:
# Most and Least profitable Lead Studio. (Take an average of all Profitability measures grouped by Lead studios)
df['Profitability'].mean() 
df.groupby(by=['Lead Studio']).sum()

,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
Lead Studio,,,,,
20th Century Fox,122,5.064621,98,156.75,4022
CBS,47,2.202571,20,77.09,2010
Disney,555,49.824029,513,2214.50,16074
Fox,414,27.069134,311,722.57,12053
Independent,1191,118.476823,864,1546.94,38176
Lionsgate,106,3.613018,14,152.59,4017
New Line,47,2.071000,15,20.71,2008
Paramount,234,10.376000,185,321.22,8034
Sony,278,19.345304,208,403.12,8037
Summit,366,31.889810,196,1242.26,10045
The Weinstein Company,206,3.663342,215,69.82,6029
Universal,528,35.850227,466,1792.04,16071
Warner Bros.,813,44.714343,491,2462.14,28123

In [111]:
df.groupby(['Lead Studio','Profitability']).mean().reset_index()

,Lead Studio,Profitability,Audience score %,Rotten Tomatoes %,Worldwide Gross,Year
0,20th Century Fox,1.983200,50,38,39.66,2011
1,20th Century Fox,3.081421,72,60,117.09,2011
2,CBS,2.202571,47,20,77.09,2010
3,Disney,0.000000,44,15,43.04,2010
4,Disney,1.365692,88,89,355.01,2010
...,...,...,...,...,...,...
69,Warner Bros.,3.307180,64,39,92.60,2007
70,Warner Bros.,3.647411,70,63,145.90,2007
71,Warner Bros.,4.184038,54,17,217.57,2010
72,Warner Bros.,7.153600,60,42,178.84,2009
73,Warner Bros.,7.221796,81,49,415.25,2008