In [6]:
import pandas as pd

# import data frame
df = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')

In [8]:
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [9]:
# printing first 10 recordsr
first_records = df.head(10)
print("First 10 rows of the DataFrame:")
print(first_records)

First 10 rows of the DataFrame:
                                 Film      Genre            Lead Studio  \
0          Zack and Miri Make a Porno    Romance  The Weinstein Company
1                     Youth in Revolt     Comedy  The Weinstein Company
2  You Will Meet a Tall Dark Stranger     Comedy            Independent
3                        When in Rome     Comedy                 Disney
4               What Happens in Vegas     Comedy                    Fox
5                 Water For Elephants      Drama       20th Century Fox
6                              WALL-E  Animation                 Disney
7                            Waitress    Romance            Independent
8                 Waiting For Forever    Romance            Independent
9                     Valentine's Day     Comedy           Warner Bros.

   Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
0                70       1.747542                 64         $41.94   2008
1                52       1.090000                 68         $19.62   2010
2                35       1.211818                 43         $26.66   2010
3                44       0.000000                 15         $43.04   2010
4                72       6.267647                 28        $219.37   2008
5                72       3.081421                 60        $117.09   2011
6                89       2.896019                 96        $521.28   2008
7                67      11.089741                 89         $22.18   2007
8                53       0.005000                  6          $0.03   2011
9                54       4.184038                 17        $217.57   2010

In [10]:
# find the data types of the coloumn

Movies_datatypes = df.dtypes
print('Data types of the columns in the dataset')
print(Movies_datatypes)

Data types of the columns in the dataset
Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [20]:
# Animation movies - Count
Ani_movies = df[df['Genre'] == 'Animation']['Film']
print('total No.of Animation Movies are ', Ani_movies.count())
print(Ani_movies)

total No.of Animation Movies are  4
6                WALL-E
22              Tangled
64    Gnomeo and Juliet
65    Gnomeo and Juliet
Name: Film, dtype: object

In [12]:
n = df.Genre.nunique()

In [13]:
((df[df['Genre'] == 'Comedy']['Film'].count()) / (df['Film'].count()))*100

53.246753246753244

In [14]:
# comedy movies released on 2007
comedy_movies = df[(df['Year'] == 2007) & (df['Genre'] == 'Comedy')]
print(comedy_movies)

                  Film   Genre   Lead Studio  Audience score %  Profitability  \
18  The Heartbreak Kid  Comedy     Paramount                41       2.129444
36     No Reservations  Comedy  Warner Bros.                64       3.307180
51      License to Wed  Comedy  Warner Bros.                55       1.980206
54          Knocked Up  Comedy     Universal                83       6.636402
62     Good Luck Chuck  Comedy     Lionsgate                61       2.367685
69           Enchanted  Comedy        Disney                80       4.005737

    Rotten Tomatoes % Worldwide Gross  Year
18                 30        $127.77   2007
36                 39         $92.60   2007
51                  8         $69.31   2007
54                 91           $219   2007
62                  3         $59.19   2007
69                 93        $340.49   2007

In [19]:

# Animation movies have more thatn 70% Audience score
AniMov_70 = df.loc[(df['Genre'] == 'Animation') & (df['Audience score %'] >70)]['Film']
print(AniMov_70)
print('No.of Animation movies scored more than 70 = ' ,  AniMov_70.count())

6      WALL-E
22    Tangled
Name: Film, dtype: object
No.of Animation movies scored more than 70 =  2

In [16]:
# Top 5  profitability movies
df.sort_values(by = 'Profitability', ascending = False ).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008

In [17]:
# Show the top 5 Comedy movies approved by the audience. (hint : Audience Score)
Top_5 = df.loc[(df['Genre'] == 'Comedy') & (df['Audience score %'] >70)]
print(Top_5.head(5))

                     Film   Genre   Lead Studio  Audience score %  \
4   What Happens in Vegas  Comedy           Fox                72
16           The Proposal  Comedy        Disney                74
27       Sex and the City  Comedy  Warner Bros.                81
30               Penelope  Comedy        Summit                74
44          Marley and Me  Comedy           Fox                77

    Profitability  Rotten Tomatoes % Worldwide Gross  Year
4        6.267647                 28        $219.37   2008
16       7.867500                 43        $314.70   2009
27       7.221796                 49        $415.25   2008
30       1.382800                 52         $20.74   2008
44       3.746782                 63        $206.07   2008